<h1>Mp</h1>
<p>Aircraft Data</p>
<table style="border:1px solid black;">
<tr>
<td>ID</td>
<td>Registration</td>
<td>Empty Weight</td>
<td>APS Weight</td>
<td>DOW Weight</td>
</tr>
<tr>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
</table>
