<div id="page_1">
	<div class="row">
		<div class="col-sm-2 col-sm-offset-1">
			<table class="table table-bordered table-condensed">
				<tr>
					<td class="info" colspan="2">Aircraft Info</td>
				</tr>
				<tr>
					<td>S/N</td>
					<td>33796</td>
				</tr>
				<tr>
					<td>FCOM No.</td>
					<td>815</td>
				</tr>
				<tr>
					<td>Engine</td>
					<td>26K</td>
				</tr>
				<tr>
					<td>MTW (kg)</td>
					<td>79242</td>
				</tr>
				<tr>
					<td>MTOW (kg)</td>
					<td>79015</td>
				</tr>
				<tr>
					<td>MLW (kg) </td>
					<td>66360 </td>
				</tr>
				<tr>
					<td>MZFW (kg)</td>
					<td>62731</td>
				</tr>
				<tr>
					<td>Standard Crew</td>
					<td>2/4</td>
				</tr>
			</table>
		</div>
		<div class="col-sm-4">
			<table class="table table-bordered table-condensed">
				<tr>
					<td class="active" colspan="3">Loading System Configuration Summary</td>
				</tr>
				<tr>
					<td rowspan="2">EQUIP CODE</td>
					<td>DCS</td>
					<td>73W</td>
				</tr>
				<tr>
					<td>LCS</td>
					<td>737</td>
				</tr>
				<tr>
					<td rowspan="2">CONFIG CODE</td>
					<td>WBM</td>
					<td>W</td>
				</tr>
				<tr>
					<td>MLTS</td>
					<td>738B</td>
				</tr>
				<tr>
					<td rowspan="3">MLTS</td>
					<td>Form No.</td>
					<td>VAGP-FO-018A</td>
				</tr>
				<tr>
					<td>Issue No.</td>
					<td>4</td>
				</tr>
				<tr>
					<td>Issue Date</td>
					<td>12-Dec-12</td>
				</tr>
				<tr>
					<td rowspan="3">MLTS (Ferry)</td>
					<td>Form No.</td>
					<td>VAGP-FO-039</td>
				</tr>
				<tr>
					<td>Issue No.</td>
					<td>2</td>
				</tr>
				<tr>
					<td>Issue Date</td>
					<td>12-Dec-12</td>
				</tr>
			</table>
		</div>

		<div class="col-sm-4">
			<table class="table table-bordered table-condensed">
				<tr>
					<td class="warning" colspan="3">Aircraft Configuration Summary</td>
				</tr>
				<tr>
					<td>Livery</td>
					<td>VA</td>
				</tr>
				<tr>
					<td>Int'l Ops</td>
					<td>Y</td>
				</tr>
				<tr>
					<td>Life Rafts</td>
					<td>Y</td>
				</tr>
				<tr>
					<td>Interior Type</td>
					<td>Refurb</td>
				</tr>
				<tr>
					<td>Interior Layout</td>
					<td>W/Y</td>
				</tr>
				<tr>
					<td>Cabin Config</td>
					<td>8W/168Y</td>
				</tr>
				<tr>
					<td>Potable Water Full (L)</td>
					<td>227</td>
				</tr>
				<tr>
					<td>SFP</td>
					<td>N</td>
				</tr>
				<tr>
					<td>IFE</td>
					<td>Wireless</td>
				</tr>
				<tr>
					<td>Lessor</td>
					<td>VOZ</td>
				</tr>
			</table>
		</div>
	</div>
</div>