<div id="page_2">
	<div class="row">
		<div class="col-sm-5 col-sm-offset-1">
			<table class="table table-bordered table-condensed">
				<tr>
					<td class="info" colspan="3">Adjustments</td>
				</tr>
				<tr>
					<td>Variable Items - 738 </td>
					<td>Wt (kg) </td>
					<td>IU </td>
				</tr>
				<tr>
					<td>Flight Deck Observer - Add (x1)</td>
					<td>+95</td>
					<td>-1.9</td>
				</tr>
				<tr>
					<td>Cabin Crew - Add x 1 (FWD)</td>
					<td>+85</td>
					<td>-1.5</td>
				</tr>
				<tr>
					<td>Cabin Crew - Add x 1 (AFT)</td>
					<td>+85</td>
					<td>+1.5</td>
				</tr>
				<tr>
					<td>Additional Catering - G1</td>
					<td>+10</td>
					<td>-0.18</td>
				</tr>
				<tr>
					<td>Additional Catering - G2</td>
					<td>+10</td>
					<td>-0.17</td>
				</tr>
				<tr>
					<td>Additional Catering - G4B</td>
					<td>+10</td>
					<td>+0.19</td>
				</tr>
				<tr>
					<td>Life Raft - All (x4) & ELT (x1) </td>
					<td>+178</td>
					<td>-1.0</td>
				</tr>
				<tr>
					<td>Life Raft & ELT - Single </td>
					<td>+49</td>
					<td>-0.6</td>
				</tr>
				<tr>
					<td>Potable Water (60 USGal)</td>
					<td>+227</td>
					<td>+3.9</td>
				</tr>
				<tr>
					<td>Potable Water (40 USGal)</td>
					<td>+151</td>
					<td>+2.6</td>
				</tr>
				<tr>
					<td>Centre Tank Fuel</td>
					<td>+1000</td>
					<td>+1.7</td>
				</tr>
				<tr>
					<td rowspan="2">Remove (4) Flight Attendants - (2) FWD and (2) AFT</td>
					<td>-340</td>
					<td>+0.2</td>
				</tr>
			</table>
		</div>
		<div class="col-sm-5">
			<div class="row">
				<div class="col-sm-12">
					<table class="table table-bordered table-condensed">
						<tr>
							<td class="warning" colspan="2">Galley Balance Arms</td>
						</tr>
						<tr>
							<td>G1</td>
							<td>86.0</td>
						</tr>
						<tr>
							<td>G2</td>
							<td>140.0</td>
						</tr>
						<tr>
							<td>G4</td>
							<td>1219.0</td>
						</tr>
						<tr>
							<td colspan="2">Index Unit Equation = W(Arm-654.8)/16000</td>
						</tr>
					</table>
				</div>
				<div class="col-sm-12">
					<table class="table table-bordered table-condensed">
						<tr>
							<td class="warning" colspan="2">APS Weight GRP 00</td>
						</tr>
						<tr>
							<td>2 Flight Crew + Nav Bags</td>
						</tr>
						<tr>
							<td>Standard Cabin Crew Complement</td>
						</tr>
						<tr>
							<td>Loose Cabin Items</td>
						</tr>
						<tr>
							<td>Lav Precharge</td>
						</tr>
						<tr>
							<td>Potable Water (332-75%)</td>
						</tr>
						<tr>
							<td>Permanent fit life rafts (if carried)</td>
						</tr>
						<tr>
							<td>Nil Catering Equipment</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>	
</div>