@import "bootstrap";

#page_1{
	display: none;
}

#page_2{
	display: none;
}

#page_3{
	
}

.axis path,
.axis line {
fill: none;
stroke: black;
shape-rendering: crispEdges;
}

.axis text {
font-family: sans-serif;
font-size: 11px;
}

path.line {
fill: none;
stroke: brown;
stroke-width: 1.5px;
}

/*w1 graph*/
#area1{
  float:left;
  width: 500px;
  height: 300px;
}

/*tooltips*/

.overlay {
  fill: none;
  pointer-events: all;

}

.focus circle {
  fill: none;
  stroke: steelblue;
}

