@import "bootstrap";

body { padding-top: 70px; }

#page_1{
	
}

#page_2{
	
}

#page_3{
	
}

.navbar-inverse{
  background-color:grey;
}

.navbar-btn{
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  color: white  ;
  background-color: grey ;
  border-color: grey;
}

.axis path,
.axis line {
fill: none;
stroke: black;
shape-rendering: crispEdges;
}

.axis text {
font-family: sans-serif;
font-size: 11px;
}

path.line {
fill: none;
stroke: black;
stroke-width: 1px;
}

path.line2 {
fill: none;
stroke: black;
stroke-width: 1px;
}

/*w1 graph*/
#area1{
  float:left;
  width: 900px;
  height: 700px;
}

.areafill1 {
    fill: lightsteelblue;
    stroke-width: 0;
}

.areafill2 {
    fill: RoyalBlue;
    stroke-width: 0;
}



/*tooltips*/

.overlay {
  fill: none;
  pointer-events: all;

}

.focus circle {
  fill: purple;
  stroke: purple;
}

