<div class="row">
	<div class="col-md-4">
		<ul class="list-group">
			<% @actypes.each do |actype| %>
			<li class="list-group-item"><%= link_to actype.manuf, actype %></li>
			<% end %>
		</ul>
	</div>
</div>